* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


video {
    min-width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.notes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 20vh;
}